.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  animation: showing 0.4s ease;
}
.complete {
  cursor: pointer;
  border: none;
  background-color: rgb(10, 216, 10);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}
.trash {
  cursor: pointer;
  border: none;
  background-color: rgb(238, 57, 2);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}
.complete:hover,
.trash:hover {
  opacity: 0.6;
}
.complete:focus,
.trash:focus {
  outline: none;
}
.item span {
  background-color: rgb(124, 118, 110);
  padding: 8px 18px;
  color: white;
  border-radius: 5px;
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
